body {
	display: block;
	text-align: center;
}

video {
	margin: 50px auto;
}

table {
	border: 1px solid #ddd;
	width: 100%;
	max-width: 80%;
	margin: 40px auto;
	border-spacing: 0;
	border-collapse: collapse;
	display: table;
	padding: 20px;
}

tr {
	border: 1px solid #ddd;
}

input {
	margin: 40px auto;
}
