* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	justify-content: center;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: 300px 100px;
	grid-template-rows: 100px 550px;
	box-shadow: 0px 0px 20px black;
}
header {
	background-color: black;
	color: white;
	grid-column: 1/3;
	grid-row: 1/2;
	height: 100px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 20px;
	font-size: 40px;
}

main {
	grid-row: 2/3;
	grid-column: 1/2;
	display: grid;

	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 125px 425px;
}

main section.menu {
	grid-row: 1/2;
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 200px 100px;
	grid-template-rows: 125px;
}

main section.numbers {
	grid-row: 2/3;
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 125px;
}

.c {
	grid-row: 1/2;
	grid-column: 1/2;
}
.zero {
	grid-column: 1/4;
}
aside {
	grid-row: 2/3;
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 125px 100px 100px 100px 125px;
}
.divide {
	grid-row: 1/2;
	grid-column: 1/2;
}

button {
	font-size: 40px;
}

main button {
	background-color: rgb(82, 125, 195);
	color: white;
	border-radius: 3px;
}
main button:hover {
	opacity: 0.75;
}
main button:active {
	background-color: rgb(27, 108, 200);
}

aside button {
	background-color: rgb(199, 208, 233);
}
aside button:hover {
	background-color: wheat;
}
aside button:active {
	background-color: rgb(206, 187, 152);
}
