.container {
	width: 250px;
	height: 300px;
}

.itens {
	border: 1px solid red;
}

.as {
	align-self: flex-end;
}
.fx {
	flex: 0;
}

.flex {
	display: flex;
	/* flex-wrap: wrap;  "wrap"= repects fathers rules, "no-wrap" = do not respect the element fathers rules */
	/* justify-content: space-between; */
	/* flex-direction: column; */
	/* align-items: ;*/
	/* align-content: ; precisa do flex wrap - wrap*/
}
